@font-face {
  font-family: 'IRANSansWeb';
  font-style: normal;
  font-weight: normal;
  src: url('./assets/font/iranyekanwebregular(fanum).eot'),
    url('./assets/font/iranyekanwebregular(fanum).woff2') format('woff2'),
    url('./assets/font/iranyekanwebregular(fanum).woff') format('woff'),
    url('./assets/font/iranyekanwebregular(fanum).ttf') format('truetype');
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "IRANSansWeb", sans-serif !important;
  direction: rtl;
  text-align: right;
  text-decoration: none !important;
}

/* scrollbars ------------------ */


body::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  width: 3px !important;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #47acff;
}

::-webkit-scrollbar-thumb:hover {
  background: #0e73c6;
}


.table-image {
  width: 90px;
  max-height: 55px;
  object-fit: cover;
}