@font-face {
  font-family: 'IRANSansWeb';
  font-style: normal;
  font-weight: normal;
  src: url('./assets/font/iranyekanwebregular(fanum).eot'),
    url('./assets/font/iranyekanwebregular(fanum).woff2') format('woff2'),
    url('./assets/font/iranyekanwebregular(fanum).woff') format('woff'),
    url('./assets/font/iranyekanwebregular(fanum).ttf') format('truetype');
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "IRANSansWeb", sans-serif !important;
  direction: rtl;
  text-align: right;
  text-decoration: none !important;
}

body {
  background-color: whitesmoke !important;
}

a {
  color: rgb(36, 36, 36);
}


/* scrollbars ------------------ */


body::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  width: 3px !important;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #47acff;
}

::-webkit-scrollbar-thumb:hover {
  background: #0e73c6;
}


.table-image {
  width: 90px;
  max-height: 55px;
  object-fit: cover;
}

.h_100dvh {
  height: 100dvb;
}

.text_center {
  text-align: center !important;
}

.my_container {
  padding: 10px;
  width: 100% !important;
  max-width: 1400px !important;
  margin: 0 auto;
}

.table_container {
  width: 100%;
  padding: 0;
  overflow-x: auto;
}

table thead tr {
  background-color: #c8c8c8;
}

table tr:nth-child(even) {
  background-color: #dff0ff;
}

table tbody tr:hover {
  background-color: #fffddf;
}

.container {
  padding: 0 3rem;
}

.has-background-danger {
  background-color: #c00 !important;
}

form.lable_black label {
  color: #2e2e2e !important;
}

@media(max-width:600px) {
  .container {
    padding: 0 .5rem;
  }
}

@media(max-width:780px) {

  table th,
  table td {
    min-width: 200px;
  }
}