.sidbar {
    width: 300px;
    max-width: 300px;
    height: 100vh;
}

.sidbar .nav_linK {
    margin-bottom: 10px 0;
    padding: .6rem .5rem;
    border-bottom: 1px solid rgb(92, 92, 92);
    border-radius: .2rem;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.sidbar .nav_linK:hover {
    background-color: #f1f1f1;
    color: rgb(40, 40, 40);
}

.sidbar .nav_linK {
    display: block;
    color: #f1f1f1;
    transition: all .3s ease-in-out;
}


.navbar-logo {
    filter: drop-shadow(5px 5px 10px #f1f1f1);
}

.nav_linK.active {
    background-color: #f1f1f1;
    color: rgb(40, 40, 40);
}

@media screen and (max-width:1400px) {
    .sidbar {
        width: 200px;
    }

    .sidbar .navbar-logo {
        width: 100px;
        height: 100px !important;
    }
}

@media screen and (max-width:992px) {
    .sidbar {
        width: 60px;
    }

    .sidbar .navbar-logo {
        width: 40px;
        height: 40px !important;
    }
}