.dashbord-wrapper {
    display: flex;
}

.main-info {
    padding: 1rem;
    width: calc(100% - 250px);
}

@media screen and (max-width:1400px) {
    .main-info {
        width: calc(100% - 200px);
    }
}

@media screen and (max-width:992px) {
    .main-info {
        width: calc(100% - 60px);
    }
}